appnope==0.1.2
backcall==0.2.0
certifi==2018.10.15
chardet==3.0.4
decorator==5.0.7
Django==2.1
django-crispy-forms==1.7.2
idna==2.7
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
pytz==2018.5
requests==2.19.1
traitlets==5.0.5
urllib3==1.23
wcwidth==0.2.5
